@import "../assets/reset";

.example-theme {
  .rw-button {
    &.primary {
      background: #1976d2;
      color: #ffffff;
    }

    &.secondary {
      background: #26A69A;
      color: #ffffff;
    }

    &.secondary {
      background: #26A69A;
      color: #ffffff;
    }

    &.secondary {
      background: #26A69A;
      color: #ffffff;
    }
  }
}
